#gameboard{
    width: 800px;
    height: 800px;
    background-color: grey;
    border-radius: 10px;
    margin: 0 auto;
}

#player-two{
    position: absolute;
    left: 300px;
    top: 300px;
    height: 100px;
    width: 100px
}

.spider{
    width: 160px;
    margin: 0;
    padding: 0;
    position: absolute;
}