#gameboard{
    width: 800px;
    height: 600px;
    background-image: url("../images/dungeon-background.gif");
    border-radius: 10px;
    margin: 0 auto;
}

#player-two{
    position: absolute;
    height: 100px;
    width: 100px;
    margin: 0;
    padding: 0;
    display: none
}

#controls {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 300px;
}

#start-button, .p1cont{
    font-size: 40px;
    color: #ba3422;
    border: solid 5px #ba3422;
    font-family: "Creepster", cursive;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

.spider{
    width: 160px;
    margin: 0;
    padding: 0;
    position: absolute;
}

#top-titleline, p, h2{
    font-family: "Creepster", cursive;
    font-size: 72px;
    margin: 0 auto;
    text-align: center;
    color: whitesmoke
}

h2{
    font-size: 32px;
    color: #ba3422;
}
p {
    font-size: 28px;
}

body {
    background-color: black
}

.flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

#hi-score {
    color: rgb(223, 189, 1)
  }

#bambi-loss, #bambi-win {
    color: #ba3422;
    display: none;
    padding-top: 300px
}